<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Metadata</title>
</head>
<body>


<form action="{{url_for ('display_metadata') }}" method="POST">
    <h2>{{Header_For_MetaData}}</h2>
    {% for dict_item in Jinja_list_AllMetadata %}
      <div>
      <tr><h3>{{ dict_item.header }}</h3></tr>
      <tr>{{ dict_item.data }}</tr>
      </div>
    {% endfor %}
</form>


<input type="submit" name="Download Data" value="Download Data"><br>

<form action="{{url_for ('type_of_metadata') }}" method="POST">
    <input type="submit" name="Check other types of Metadata" value="Check other types of Metadata" action="{{url_for ('type_of_metadata') }}">
</form>
</body>
</html>

