<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Metadata</title>
</head>
<body>
Choose type of Metadata


<form>
        <h3><table><form action="" method="POST">
          <td>
          <label>Choose Type of Metadata:</label>
            <select name="option" width="300px">
            {% for x in results %}
             <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
            {% endfor %}
            </select>
          </td>
</form>

<table>
  <tr>
    <th>Schemas</th>
    <th>Tables</th>
    <th>Columns</th>
  </tr>
  <tr>
    <td>schemaname</td>
    <td>TableName</td>
    <td>ColumnName</td>
  </tr>
  <tr>
    <td>schemaname</td>
    <td>TableName</td>
    <td>ColumnName</td>
  </tr>
</table>

<input type="submit" name="Download Data" value="Download Data"><br>
</body>
</html>

