<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QMP Dashboard</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<center>

    <h1>Query Metadata Parser Portal</h1>
    <h2>Login Page</h2>

    <div class="login">
    <form method="POST" id="loginid">
     <br><br>
      <input type="name" name="name_id" id="namecss" placeholder="UserName"><br>
         <input type="password" name="password_id" id="passwordcss" placeholder="Password"><br>
         <input type="submit" name="submit" id="logincss"><br>
    </form>
    </div>
</center>
</body>
</html>

