<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap_style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<h1> Hey User! Successfully Logged In</h1>

<form action="{{url_for ('successful_login') }}" method="POST">
    <input type="submit" value="Analyze Metadata" action="{{url_for ('successful_login') }}">
</form>

</body>
</html>