<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap_style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<center>
    <h3>Query Metadata Parser Portal</h3>
    </center>
<br><br><br><br>
<div class="centered">
        <div class="container align-self-center">
            <div class="col-sm-9 col-md-1 col-lg-5 mx-auto col-sm-offset-4 ">
                <div class="card border-0 shadow rounded-3 my-5 ">
                    <div class="card-body p-4 p-sm-5 align-self-center">

                           <h3> Hey User! Successfully Logged In</h3>
                           <br><br><br>
                           <div class="col text-center">
                           <form action="{{url_for ('successful_login') }}" method="POST">
                                <input type="submit"  class="btn btn-primary btn-login  fw-bold" value="Analyze Metadata" action="{{url_for ('successful_login') }}">
                           </form>
                           </div>



                    </div> </div></div></div></div>
</body>
</html>
