<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Type of Metadata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap_style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>

<center>
    <h3>Query Metadata Parser Portal</h3>
    </center>
<br><br><br><br>
<div class="centered">
        <div class="container align-self-center">
            <div class="col-sm-9 col-md-1 col-lg-5 mx-auto col-sm-offset-4 ">
                <div class="card border-0 shadow rounded-3 my-5 ">
                    <div class="card-body p-4 p-sm-5 align-self-center">




                        <div class="align-self-center" style="margin-bottom:10px">
                          <form action="{{url_for ('display_metadata') }}" method="POST">
                         <label>Choose Type of Metadata:</label>
                         <select name="dropdownlist_option" id="dropdownlist_option" width="300px" class="selectpicker form-control" action="{{url_for ('display_metadata') }}">
                         {% for x in results %}
                         <option name= "dropdownoption" value="{{ x }}" >{{ x }}</option>
                         {% endfor %}
                        </select>
                           <div    style="margin-bottom:25px"></div>
                        <input type="submit" class="btn btn-primary btn-login  fw-bold" value="Choose" action="{{url_for ('display_metadata') }}">
                          </form>
                        </div>

                    </div> </div></div></div></div>
    </body>
</html>













