<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload_sql_script</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap_style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<center>
    <h3>Query Metadata Parser Portal</h3>
    </center>
<br><br><br><br>
<div class="centered">
        <div class="container align-self-center">
            <div class="col-sm-9 col-md-1 col-lg-5 mx-auto col-sm-offset-4 ">
                <div class="card border-0 shadow rounded-3 my-5 ">
                    <div class="card-body p-4 p-sm-5 align-self-center">

                           <div class="align-self-center" style="margin-bottom:10px">
                           <h4> Upload SQL Script:</h4>
                           </div>
                           <br><br>

                        <div class="align-self-center" style="margin-bottom:10px">
                             <form action="{{url_for ('upload_sql_script') }}" method="POST" enctype="multipart/form-data">
                            <input type="file" name="file" style="margin-bottom:20px" />
                            <input type="submit" class="btn btn-primary fw-bold" value="Upload" action="{{url_for ('upload_sql_script') }}"/>
                            </form>


                         </div>

                    </div> </div></div></div></div>
</body>
</html>




